/*
header:
font-family: 'Abril Fatface', cursive;
body:
font-family: 'Roboto', sans-serif;
*/

body{
  font-family: 'Roboto', sans-serif;
}

/* header */
.hero {
  /* background: url('https://i.imgur.com/cq3UAle.jpg') 30% no-repeat; */
  /* img of canyons with several hot air balloons */
  /* Photo by Egzon Bytyqi on Unsplash */
  background-color: #5DBCD2;
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section-text h1 {
  font-size: 5rem;
  color: #20333e;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-family: 'Abril Fatface', cursive;
}

#show-movies, #movie-create-new-btn {
  color: white;
  border-color: white;
}

#show-movies:hover, #movie-create-new-btn:hover {
  color: #20333e;
}

#list {
  height: 60vh;
  overflow: scroll;
}

.hidden {
  display: none;
}

#movie-overview {
  overflow: scroll;
  position: relative;
  height: 60vh;
}

/* list of movies */
#library-movies {
  display: none;
  /*float:left;*/
}

th.sort {
  cursor: pointer;
  background-color: #A7CCA7;
}

th.current-sort-field {
  background-color: #647A6C;
  color: white;
}

#movie-list-table tr:nth-child(even) {
  background-color: #EDE3E4;
}

#movie-list-table tr:nth-child(odd) {
  background-color: #F1EAEB;
}
